ipykernel
dotenv
langchain
langchain_community
langchain_openai
langchain_groq
langchain-cohere
langchain_core
langgraph
youtube-search-python
youtube-search
lxml
wikipedia
langchain-tavily
yfinance
ddgs
faiss-cpu
rank_bm25
structlog
pymupdf